@use '../../styles/mixin.scss' as mixin;

.master-page {
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: mixin.$gray100;

  @include mixin.on-tablet {
    padding: 40px;
  }

  &__hr {
    border: 1.5px solid mixin.$gray70;
    width: 100%;
  }

  &__information {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__information-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: mixin.$gray30;
  }

  &__information-title {
    padding-inline: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  &__information-list {
  }

  &__information-items {
    @include mixin.main-text;

    min-height: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    cursor: pointer;

    &:hover {
      background-color: mixin.$gray70;
      border-radius: 20px;
    }
  }

  &__information-item {
    padding-inline: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
}
