@use '../../styles/mixin.scss' as mixin;

.modal {
  position: fixed;
  z-index: 10000;
  inset: 0;

  & > * {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
  }

  backdrop-filter: blur(10px);
  overflow: auto;

  @include mixin.on-tablet {
    display: none;
  }
}
