@font-face {
  font-family: Urbanist;
  src: url(./Urbanist-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Urbanist;
  src: url(./Urbanist-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Urbanist;
  src: url(./Urbanist-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Urbanist;
  src: url(./Urbanist-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Urbanist;
  src: url(./Urbanist-Black.ttf);
  font-weight: 900;
}
