@use '../../styles/mixin.scss' as mixin;

.switch-buttons {
  width: fit-content;
  height: 50px;

  display: flex;
  flex-wrap: wrap;

  &--small {
    height: 40px;
  }

  &__button, &__small {
    height: 100%;
    padding-inline: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    color: mixin.$gray10;
    background: none;
    border: mixin.$line-width solid mixin.$gray10;

    cursor: pointer;

    @include mixin.on-tablet {
      padding-inline: 20px;
    }
  }

  &__button {
    font-weight: 500;
    line-height: 24px;
  }

  &__small {
    font-size: 24px;
    line-height: 28px;
    width: 47px;
  }


  &__button:first-of-type, &__small:first-of-type {
    border-radius: 100px 0 0 100px;
  }

  &__button:last-of-type, &__small:last-of-type {
    border-radius: 0 100px 100px 0;
  }

  &__button:nth-of-type(n + 2), &__small:nth-of-type(n + 2) {
    border-left: none;
  }

  &__button--active {
    background-color: mixin.$gray10;
    color: mixin.$gray100;
  }

  &__button:hover, &__small:hover {
    background-color: mixin.$pink;
    transition: mixin.$effect-duration;
  }

  &__button:active, &__small:active {
    background-color: mixin.$secondary-pink;
  }

}
