$error: #f43e34;
$link: #ff4b4b;
$info: #417eff;
$warning: #feb600;
$success: #00c662;
//
$gray100: #ffffff;
$gray80: #f5f7f9;
$gray70: #edeff3;
$gray50: #d0d1d8;
$gray30: #a09fa6;
$gray20: #5c5c60;
$gray15: #323232;
$gray10: #1a1b1e;
//
$pink: rgb(255, 219, 219);
$blue: rgb(214, 240, 250);
//
$primary100: rgb(255, 75, 75);
//
$effect-duration: 300ms;
$line-width: 1.5px;
//
$tablet-min-width: 1024px;
$desktop-min-width: 1440px;
$on-phone-header-height: 47px;
$on-tablet-header-height: 65px;

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin content-padding {
  padding-block-start: var(--content-padding-top);
  padding-block-end: var(--content-padding-bottom);
  padding-inline: var(--content-padding);

  @include on-tablet {
    --content-padding: 40px;
    --content-padding-top: 25px;
    --content-padding-bottom: 15px;
  }

  @include on-desktop {
    --content-padding: 80px;
    --content-padding-top: 30px;
    --content-padding-bottom: 30px;
    margin-inline: auto;
  }
}

@mixin full-width {
  width: calc(var(--content-padding) * 2 + 100%);
  margin-left: calc(var(--content-padding) * -1);
}
