* {
  box-sizing: border-box;
}

h1 {
  font-family: Urbanist;
  font-weight: 400;
  font-size: 64pt;
  line-height: 64pt;
}

h2 {
  font-family: Kharkiv-Tone;
  font-weight: 400;
  font-size: 55pt;
  line-height: 55pt;
}

h3 {
  font-family: Urbanist;
  font-weight: 400;
  font-size: 55pt;
  line-height: 55pt;
}

h4 {
  font-family: Kharkiv-Tone;
  font-weight: 400;
  font-size: 22pt;
  line-height: 22pt;
}

body {
  font-family: Urbanist;
  font-weight: 400;
  font-size: 16pt;
  line-height: 20pt;
}

small {
  font-family: Urbanist;
  font-weight: 400;
  font-size: 12pt;
  line-height: 15pt;
}
