@use '../../styles/mixin.scss' as mixin;

.header {
  height: mixin.$on-phone-header-height;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  z-index: 9999;

  @include mixin.on-tablet {
    height: mixin.$on-tablet-header-height;
  }

  &--dark {
    & .header__website-title {
      color: mixin.$gray10;
    }

    & .header__hr {
      background-color: mixin.$gray10;
    }
  }

  &--light {
    & .header__website-title {
      color: mixin.$gray100;
    }

    & .header__hr {
      background-color: mixin.$gray100;
    }
  }

  &__nav {
    width: 100%;
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;

    @include mixin.on-tablet {
      min-height: 58px;
    }
  }

  &__nav-left-side,
  &__nav-right-side {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__nav-item {
    list-style: none;
  }

  &__nav-item-link {
    text-decoration: none;
  }

  &__website-title {
    position: relative;

    font-family: Kharkiv-Tone, sans-serif;
    font-size: 22px;

    @include mixin.on-tablet {
      font-size: 24px;
    }
  }

  &__account {
    background-color: mixin.$gray100;
    border-color: #ffffff00;

    display: none;

    @include mixin.on-tablet {
      display: block;
    }
  }

  &__login {
    display: none;

    @include mixin.on-tablet {
      display: block;
    }
  }

  &__account-icon {
    background: none;
    border: none;

    @include mixin.on-tablet {
      display: none;
    }
  }

  &__hr {
    width: 100%;
    height: mixin.$line-width;
    margin: 0;
    margin-top: 15px;

    border: none;

    @include mixin.on-tablet {
      margin-top: 0;
    }
  }
}
