@use '../../styles/mixin.scss' as mixin;

.login-page {
  padding-top: 25px;
  gap: 70px;
  transition: box-shadow mixin.$effect-duration;
  color: mixin.$gray10;

  @include mixin.on-tablet {
    justify-content: center;
  }

  &__header {
    width: fit-content;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    @include mixin.on-tablet {
      display: none;
    }
  }

  &__arrow {
    position: absolute;
    top: 10px;
    left: 0;
  }

  &__form {
    max-width: 498px;
    padding: 20px;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: mixin.$gray100;

    &:hover {
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    }

    @include mixin.on-tablet {
      justify-content: space-between;

      padding: 40px;
    }
  }
}
