@use '../../styles/mixin.scss' as mixin;

.sign-up-form {
  max-width: 498px;
  padding: 20px;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: mixin.$gray100;

  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }

  @include mixin.on-tablet {
    justify-content: space-between;

    padding: 40px;
  }

  &__header {
    display: none;

    @include mixin.on-tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 38px;
  }

  &__main {
    display: flex;
    flex-direction: column;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__footer {
    display: flex;
    flex-direction: column;
  }

  &__policy-text {
    padding-bottom: 10px;
  }

  &__checkbox-label {
    width: fit-content;
    padding-bottom: 20px;

    display: flex;
    align-items: center;
    position: relative;

    line-height: 24px;
    cursor: pointer;
  }

  &__button {
    width: 100%;
  }
}
