@use './styles/mixin.scss' as mixin;
@import './styles/typography';
@import './fonts/fonts';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --content-padding: 20px;
  --content-padding-top: 20px;
  --content-padding-bottom: 20px;
}

main {
  position: relative;
  flex: 1;

  display: flex;
  flex-direction: column;
}


input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

body {
  @include mixin.content-padding;

  min-height: 100vh;
  max-width: mixin.$desktop-min-width;
  background-image: url(./img/bg.png);

  display: flex;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;

  width: 100%;
}

button {
  color: mixin.$gray10;
}
