@use '../../styles/mixin.scss' as mixin;

.reset-password-form {
  max-width: 498px;
  padding: 20px;
  border-radius: 30px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: mixin.$gray100;

  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }

  @include mixin.on-tablet {
    justify-content: space-between;

    padding: 40px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
  }

  &__reset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  &__description {
    padding-top: 5px;
    text-align: justify;
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__reset-btn {
    width: 100%;
  }
}
